<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify</title>
</head>
<body>
    <form action="/Modify" method="POST">
        <input name="username" type="text" placeholder="enter admin username">
        <input name="password" type="text" placeholder="enter admin password">
        <input name="messageID" type="text" placeholder="enter messageID">
        <input name="messageText" type="text" placeholder="enter message text">
        <button type="submit">Modify message</button>
    </form>
</body>
</html>